@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.MetaDescription = Model.MetaDescription; ViewBag.ArticleDescription = Model.ArticleDescription;

}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.ArticleDescription
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;&nbsp;</span>
        <span>@Model.JumboTitle</span>

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>
        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h1>Fequently Asked Questions</h1>
                </div>
                <h2>Calling Haunted Publicans</h2>
                <div class="well well-large">

                    <b>How can we help your public house, hotel, or inn, make money?</b>
                    <p>&nbsp;</p>
                    <p>
                        We can help you if your stronghold is supernaturally inhabited or you wish to be incorporated in visit by offering
                        powerful occasions. Apparition Pubs is a crisp association. We have officially picked up the appreciation of the paranormal
                        group and those connected with the pub exchange. We as of late talked with for a peculiarity in The Publican's Morning Advertiser.
                        More than that, we are in contact with high gauge mediums, psychics, and so forth.
                        And that's only the tip of the iceberg: we get a high volume of web activity.
                    </p>

                    <b>
                        Why, as publican, should you advertise that your pub is haunted?
                    </b>
                    <p>&nbsp;</p>
                    <p>
                        There is a developing dim tourism. Being spooky is useful for business. Travelers from everywhere throughout the
                        world need to stay at frequented foundations or in any event incorporate your pub in visit. We are mindful of in
                        excess of 1300 frequented pubs: some open, some shut, and some no-more standing. Along these lines, that is around
                        2.6% of all UK open houses and climbing. Thus, a few pubs flourish after asserting a frequented vicinity.
                    </p>
                    <b>
                        How can running a haunted pub work for me?
                    </b>
                    <p>&nbsp;</p>
                    <p>
                        This can work for you. At least, you could pick to be incorporated in a general Ghost Pubs apparition visit.
                        This can bring more individuals to your pub. You may even be intrigued by facilitating other paranormal occasions,
                        for example, séances, psychic nights, tarot readings, and a phantom chase. On the off chance that you give frequented
                        settlement then being spooky would work surprisingly better for you.
                    </p>
                    <b>
                        What if GhostPubs do not offer everything we want?
                    </b>
                    <p>&nbsp;</p>
                    <p>
                        In the impossible occasion that we don't offer the particular paranormal administration that you oblige ourselves,
                        we would even now attempt to place you in contact with the individuals who would satisfy your needs. (put further up),
                        we are overall loaded; one of our visit manages frighteningly looks like Bruce Campbell
                        (Ash, the star of the excellent Evil Dead film).
                    </p>

                </div>

                <h2>Calling Paranormal Customers</h2>
                <div class="well well-large">
                    <b>
                        Who are we and what entertainment do we offer?
                    </b>
                    <p>&nbsp;</p>
                    <ul>
                        <li>
                            Ghost tours of haunted public houses, inns, hotels, and breweries
                        </li>
                        <li>paranormal events - list such events here</li>
                        <li>  Haunted accommodation at hotels and inns</li>
                        <li> Stories and details at the ghost pubs website</li>
                    </ul>
                    <p>
                        We can help you if your brewery or one of its establishments is haunted. Ghost Pubs is a fresh organisation.
                        We have already gained the respect of the paranormal community as well as those in the pub trade. We recently interviewed
                        for a feature in The Publican’s Morning Advertiser. More than that, we are in contact with high calibre mediums, psychics, and the like.
                        And more: we receive a high volume of webtraffic.
                    </p>
                    <b>
                        Why should publicans advertise that your pub is haunted?
                    </b>
                    <p>&nbsp;</p>
                    <p>
                        Do you want to make more money from your establishment? Is your pub haunted? There is a growing dark tourism. So, read on!
                    </p>
                    <p>
                        Being haunted is good for business. Tourists from all over the world want to stay at these haunted
                        establishments or at least tour them.
                    </p>
                    <p>
                        We are aware of over 1300 haunted pubs: some open, some closed, and some no-longer standing.
                        So, that's around 2.6% of all UK public houses and rising.
                    </p>
                    <p>
                        We suspect that there are more. So, is your pub haunted?
                    </p>
                    <p>
                        Some pubs thrive upon claiming a haunted presence.
                    </p>
                    <b>
                        How can this work for your haunted pub?
                    </b>
                    <p>&nbsp;</p>
                    <p>
                        At minimum, you could opt to be included in a regular Ghost Pubs ghost tour. This can bring more people to your pub.
                        You may even be interested in hosting other paranormal events, such as, séances, psychic nights, tarot readings, and a ghost hunt.
                    </p>
                    <p>
                        If you provide haunted accommodation then being haunted would work even better for you.
                    </p>
                    <p>
                        If you are interested then please contact Ghost Pubs to become involved. Even if we do not offer the specific
                        paranormal service that you require ourselves, we would still endeavour to put you in contact with those who would fulfil your needs.
                        Nonetheless, we are well stocked; one of our tour guides frighteningly resembles Bruce Campbell (Ash, the star of the classic Evil Dead film).
                    </p>
                    <b>What happens next?</b>
                    <p>&nbsp;</p>
                    <p>
                        We sell them our services when they contact us, we attempt to see them an annual registration to the Ghost Pubs website
                        (and one for myPUBGUIDE). So, there is the advertising revenue. We may want to sell them more than just a directly listing.
                        They might want a banner or similar. Also, we might want to charge them from going on a list of pubs that are interested in being a
                        stopping point or starting point or end point on a haunted ghost pub tour. They might want a bespoke story, either provided by them or
                        written by us to be placed on their directory listing. They may want us to source a paranormal service provider for an event
                        to be hosted at the pub.
                    </p>
                </div>

                <h2>Contact us as soon as possible</h2>

                <div class="well well-large">
                    <p>
                        If you are interested then please contact Ghost Pubs to become involved.
                    </p>
                    <p>
                        Kindest regards,
                    </p>
                    <p>
                        <strong>The Ghost Pubs Team</strong>
                    </p>
                    <p>
                        <a href="/" title="The Ghost Pubs website">www.GhostPubs.com</a>
                    </p>
                </div>

                <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                <hr>
            </section>
        </div>
    </div>
</div>
