@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.Description = Model.Description;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.Description
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row" style="min-height: 30px;">

        <a href="http://www.ghostpubs.com" title="Home">Home</a>

        <span>&gt;</span>
        <a href="http://www.ghostpubs.com/haunted_pubs/@Model.JumboTitle.ToLower()/detail.html" title="@Model.JumboTitle">@Model.JumboTitle</a>

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>

        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h1>Partnership feature</h1>
                </div>
                <h2>Who is in with us?</h2>
                <div class="well well-large">
                    <p>
                        Hello there,
                    </p>
                    <p>
                        If you would like to become involved then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Tweet the name of our ghost">@@ghost_pubs</a>
                    </p>
                    <p>
                        You could have a special promotion like Ghostly Whispers did - Feel free to contact him
                    </p>
                    <h3>Ghostly Whispers</h3>
                    <p>
                        Calling all Pubs!
                    </p>
                    <p>
                        Are you thinking of new ways to fill your venue without it costing you a single penny?
                    </p>
                    <p>
                        Have you thought of holding a Paranormal Evening?
                    </p>
                    <p>
                        I specialise in Club and Pub Events and I have promoted these evenings throughout South Wales for many years.
                    </p>
                    <p>
                        I feel this is an excellent opportunity for you to fill your establishment on an evening you are very quiet or even closed.
                    </p>
                    <p>
                        You do not have to worry about the marketing as I design the poster and email it over to you.
                    </p>
                    <p>
                        All you have to do is print a few out, put them up around your establishment and take the bookings!
                    </p>
                    <p>
                        It really is that simple.
                    </p>
                    <p>
                        If this is something that interests you, please respond to this email as early as possible as dates are filling up and I am already taking repeat bookings.
                    </p>
                    <p>
                        My email address is <a rel="nofollow" href="mailto:ghostlywhispers70@gmail.com">Ghostly Whispers</a>
                    </p>
                    <p>
                        I look forward to hearing from you.
                    </p>
                    <p>
                        <strong>Ghostly Whispers</strong>
                    </p>
                </div>
                <hr>
            </section>
        </div>
    </div>
</div>
