@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.Description = Model.Description;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.Description
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row" style="min-height: 30px;">

        <a href="/" title="Home">Home</a>

        <span>&gt;&nbsp;</span>
        <span>@Model.JumboTitle</span>

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>
        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h1>Partnerships</h1>
                </div>
                <h2>How to partner with us?</h2>
                <div class="well well-large">
                    <p>
                        Hello there,
                    </p>
                    <p>
                        Here at GhostPubs.com, we love a good ghost story however, we also love to craft new partnerships. This includes working with either other organizations in the brewery or paranormal industries. We even extend this invitation to other institutions that are of mutual benefit. We believe that good people working together can create amazing feats.

                    </p>
                    <p>
                        We officially launched on Halloween 2013. We work diligently to build relations with relevant organizations. We already collaborate with a large number of businesses.
                    </p>
                    <p>
                        What services can you offer us? What can we offer you in return?
                    </p>
                    <p>
                        If you wish to provide us with a banner, exactly 160 by 40 pixels. We would include it on our partner page, with a link to your website (the banner must not compromise the look and feel of our brand). We would also require the copy for the tool-tip text for your banner.
                    </p>
                    <p>
                        Here at GhostPubs.com, we love a good ghost story however, we also love to craft new partnerships. This includes working with either other organizations in the brewery or paranormal industries. We even extend this invitation to other institutions that are of mutual benefit. We believe that good people working together can create amazing feats.
                    </p>
                    <p>
                        However, if you feel more audacious then could create a bespoke page for your organization on our website that, in turn, links to your website. For this, you would need to provide us with a minimum of 250 words of unique copy.
                    </p>

                    <p>
                        In addition, if you have XML feeds then you might want to discuss including these at a later date.
                    </p>
                    <p>
                        All we ask in return is that you include a banner link from somewhere appropriate on your website to the landing page of GhostPubs.com.
                    </p>
                    <p>
                        Here are some further considerations: What could partnering with us mean?
                    </p>
                    <p>
                        It means that we will include a link to anywhere on your website.
                    </p>
                    <p>
                        Depending upon level of partnership, the link to your website would be from:
                    </p>

                    <ul>
                        <li>
                            Our partner page
                        </li>
                        <li>
                            Our home page
                        </li>
                        <li>
                            Our UK map (country and region levels available)
                        </li>
                        <li>
                            A county page
                        </li>
                        <li>
                            A metropolis page
                        </li>
                        <li>
                            An individual pub page
                        </li>
                        <li>
                            Somewhere else (bespoke page or otherwise)
                        </li>
                    </ul>
                    <p>
                    </p>
                    <p></p>
                    <p>
                        If you have any questions then please give me a shout.
                    </p>
                    <p>
                    </p>
                    <p>
                        You may even have your own ideas of how you would like to partner with us. If so let us know via the usual channels.
                    </p>
                    <p>
                        Kindest regards,
                    </p>
                    <p>
                        <strong>The Ghost Pubs Team</strong>
                    </p>
                    <p>
                        <a href="/" title="www.GhostPubs.com">www.GhostPubs.com</a>
                    </p>
                </div>


                <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                <hr>
            </section>
        </div>
    </div>
</div>
