@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.Description = Model.Description;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.Description
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row" style="min-height: 30px;">

        <a href="http://www.ghostpubs.com" title="Home">Home</a>

        <span>&gt;</span>
        <a href="http://www.ghostpubs.com/haunted_pubs/@Model.JumboTitle.ToLower()/detail.html" title="@Model.JumboTitle">@Model.JumboTitle</a>

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>


        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h1>Submit your own story</h1>
                </div>
                <h2>Call for submissions - ghost stories relating to public houses</h2>

                <div class="well well-large">
                    <p>
                        Hello there,
                    </p>
                    <p>
                        We officially launched GhostPubs.com on Halloween 2013. We have not yet covered every public house.
                        Indeed, the usefulness of our website depends upon contributions from our perspective readers.
                        Yes, that's you! So, please feel free to send us any ghostly information about public houses that you have visited. For full coverage, it all rests on your contributions.
                    </p>
                    <p>
                        So, if you have any info regarding any of the following then we look forward to hearing from you:
                    </p>
                    <ul>
                        <li>Haunted public houses that are still open</li>
                        <li>Closed establishments</li>
                        <li>Abandoned Pubs</li>
                        <li>Demolished Pubs</li>
                    </ul>
                    <p>
                        Please send us your story as soon as possible through <a href="https://twitter.com/ghost_pubs">twitter</a> or <a href="https://www.facebook.com/ghostpubspage">facebook</a>. You'll receive full credit and you may win a prize.
                    </p>
                    <p>
                        Who knows: If we get enough interest then we may organise local ghost tours in your area.
                    </p>
                    <p>
                        Thanks in advance for the interest.
                    </p>
                    <p>
                        Kindest regards,
                    </p>
                    <p>
                        <strong>The Ghost Pubs Team</strong>
                    </p>
                    <p>
                        <a href="http://www.GhostPubs.com" title="www.GhostPubs.com">www.GhostPubs.com</a>
                    </p>
                </div>

                <hr>
            </section>
        </div>

    </div>
</div>
